@model IEnumerable<SmartSchool.Models.Attendance.TrakingDetailsVM>
@{
    ViewBag.Title = "Automatic Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;
    string pull = "";
    string modalpositon = "";
    string buttonpositon = "";
    string textalign = "";
    if (CurrentLanguage == Languges.English)
    {
        pull = "pull-left";
        modalpositon = "left";
        buttonpositon = "left";
        textalign = "left";
    }
    else
    {
        pull = "pull-right";
        textalign = "right";
        modalpositon = "right";
        buttonpositon = "right";

    }
}

<style>
    .badge-light-success {
        background-color: #dfffea;
        color: #17c653;
        padding: 0.25em 0.5em;
        border-radius: 0.2rem;
        font-size: 0.875em;
        font-weight: 700;
        display: inline-block;
        line-height: 1;
        text-align: center;
        vertical-align: baseline;
    }

    .badge-light-danger {
        background-color: #ffeef3;
        color: #f8285a;
        padding: 0.25em 0.5em;
        border-radius: 0.2rem;
        font-size: 0.875em;
        font-weight: 700;
        display: inline-block;
        line-height: 1;
        text-align: center;
        vertical-align: baseline;
    }

    .required:after {
        content: "*";
        position: relative;
        font-size: inherit;
        color: red;
        padding-left: .25rem;
        font-weight: 600;
    }

    .bd-callout-info {
        border-left-color: #3699ff;
    }

    .bd-callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: solid 1px #e6e7e8;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
        border-radius: 10px;
        border-left-width: .50rem;
        border-left-color: #3699ff;
    }

    .borderless-btn {
        border: none;
        outline: none;
        background-color: transparent;
    }

        .borderless-btn:focus,
        .borderless-btn:active {
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
        }

    .htitles {
        color: #3699ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 2px 5px 0 #3699ff;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    .btn-primary-custom {
        color: #fff !important;
        background-color: #3699ff !important;
        border-color: #fff !important;
        outline: none !important;
    }

    th, td, tr{
        text-align: center;
    }

    .dropdown-menu-scrollable {
        max-height: 200px;
        overflow-y: auto;
    }

        .dropdown-menu-scrollable .dropdown-item {
            margin-top: 1px;
        }

    .selected-column {
        background-color: #3699ff !important;
        color: white !important;
    }

    .btn-theme {
        color: #fff !important;
        background-color: #3699ff !important;
        border-color: #3699ff !important;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



<div class="head-body-col">
    <span onclick="goBack()">
        @*back  icon*@
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    <h2>@R.GetResource("AttendanceFollowUp")</h2>
</div>

<div class="inner-Container">
    <div class="light-component action">
        <a href="javascript:void(0)">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="40" height="40" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#FFFFFF" stroke="none">
                        <path d="M3979 4401 c-154 -40 -284 -116 -392 -230 -82 -87 -137 -180 -179 -301 -30 -89 -32 -104 -33 -230 0 -204 52 -409 164 -646 270 -567 670 -731 996 -409 169 167 304 422 380 719 81 315 60 532 -69 741 -104 166 -257 283 -451 345 -101 32 -309 38 -416 11z m335 -201 c200 -51 353 -196 422 -400 31 -91 25 -283 -13 -430 -74 -280 -209 -535 -349 -658 -101 -90 -196 -108 -299 -58 -209 103 -447 538 -495 906 -38 296 166 581 465 649 70 16 187 12 269 -9z" />
                        <path d="M4087 3999 c-91 -21 -170 -84 -218 -171 -32 -59 -34 -69 -34 -158 0 -113 21 -167 95 -240 63 -63 128 -92 221 -98 64 -4 85 -1 136 20 104 42 171 114 205 220 77 245 -152 487 -405 427z m144 -214 c41 -22 69 -71 69 -124 0 -37 -6 -49 -38 -81 -48 -49 -96 -59 -148 -34 -72 36 -101 111 -68 179 32 68 116 95 185 60z" />
                        <path d="M2682 2855 c-71 -31 -76 -135 -8 -176 26 -16 50 -19 149 -19 132 0 176 13 196 56 19 43 13 81 -18 116 l-29 33 -129 3 c-95 1 -136 -2 -161 -13z" />
                        <path d="M3292 2855 c-71 -32 -76 -134 -8 -176 25 -16 45 -19 100 -17 62 3 71 7 97 36 39 44 39 90 0 134 -25 29 -35 32 -92 35 -41 2 -76 -2 -97 -12z" />
                        <path d="M2232 2800 c-149 -82 -210 -186 -148 -253 49 -53 104 -48 168 14 23 22 60 50 83 61 78 40 107 86 86 140 -28 74 -99 88 -189 38z" />
                        <path d="M815 2710 c-164 -30 -302 -105 -432 -235 -80 -80 -97 -105 -141 -196 -69 -142 -85 -215 -85 -369 0 -213 61 -442 185 -691 139 -281 315 -464 501 -521 107 -32 212 -23 313 27 203 100 392 366 509 716 62 188 89 350 82 504 -6 144 -23 211 -81 330 -101 204 -278 353 -496 415 -85 24 -272 35 -355 20z m240 -225 c263 -47 459 -261 490 -536 22 -200 -96 -583 -254 -824 -137 -209 -288 -283 -432 -213 -275 135 -562 797 -485 1120 25 108 79 203 160 284 102 101 204 154 336 173 80 12 96 12 185 -4z" />
                        <path d="M877 2260 c-105 -27 -188 -96 -234 -195 -23 -50 -27 -74 -28 -140 0 -67 4 -89 28 -137 35 -71 91 -129 159 -165 47 -25 64 -28 148 -28 84 0 102 3 151 28 66 32 132 99 162 165 18 38 22 66 22 142 0 84 -3 101 -28 148 -58 110 -160 179 -277 187 -36 2 -82 0 -103 -5z m149 -219 c32 -20 64 -74 64 -110 0 -35 -26 -86 -55 -109 -109 -86 -264 45 -200 169 34 64 128 89 191 50z" />
                        <path d="M2043 2333 c-12 -2 -34 -16 -48 -31 -24 -24 -27 -33 -23 -82 5 -64 51 -167 100 -223 26 -30 42 -40 75 -44 39 -5 46 -2 78 30 44 44 45 77 3 143 -17 27 -42 76 -54 109 -28 77 -71 109 -131 98z" />
                        <path d="M2473 1990 c-58 -24 -73 -113 -27 -161 l28 -29 144 0 144 0 29 29 c48 49 38 125 -21 156 -33 17 -258 21 -297 5z" />
                        <path d="M3083 1990 c-59 -24 -74 -116 -27 -164 26 -26 28 -26 171 -26 l145 0 29 29 c48 49 38 125 -21 156 -33 17 -258 21 -297 5z" />
                        <path d="M3694 1991 c-59 -26 -74 -119 -26 -163 21 -21 41 -27 97 -32 39 -4 91 -14 117 -22 89 -29 153 10 153 93 0 55 -29 84 -108 108 -62 20 -203 29 -233 16z" />
                        <path d="M4120 1642 l-27 -28 3 -134 c2 -74 3 -141 4 -148 0 -29 48 -62 89 -62 64 0 98 38 111 123 11 69 6 146 -12 204 -22 74 -114 98 -168 45z" />
                        <path d="M3887 1155 c-20 -8 -65 -17 -100 -20 -96 -9 -106 -13 -127 -48 -30 -49 -26 -83 15 -124 l36 -36 87 6 c157 9 242 55 242 130 0 49 -13 73 -50 92 -35 18 -53 18 -103 0z" />
                        <path d="M1854 1112 c-54 -43 -55 -112 -3 -156 29 -25 36 -26 160 -26 146 0 178 10 199 59 17 42 5 95 -27 121 -23 18 -40 20 -167 20 -118 0 -144 -3 -162 -18z" />
                        <path d="M2464 1112 c-54 -43 -58 -100 -10 -148 l34 -34 131 0 c79 0 140 5 156 12 29 13 55 55 55 88 0 29 -27 77 -49 90 -11 5 -82 10 -158 10 -116 0 -141 -3 -159 -18z" />
                        <path d="M3074 1112 c-54 -43 -58 -100 -10 -148 l34 -34 131 0 c79 0 140 5 156 12 29 13 55 55 55 88 0 29 -27 77 -49 90 -11 5 -82 10 -158 10 -116 0 -141 -3 -159 -18z" />
                    </g>
                </svg>
            </span>
            <h5 style="margin: 16px 0 16px">
                @R.GetResource("Details")
            </h5>
        </a>
    </div>


    <div class="light-component inner">
        <h4 class="htitles">
            @ViewBag.StudentName
            <br />
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="40" height="40" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#3699ff" stroke="none">
                    <path d="M841 4603 c-436 -216 -710 -1490 -575 -2668 48 -422 141 -778 274 -1050 125 -254 256 -381 406 -393 77 -6 149 24 223 93 96 90 213 288 276 470 l28 80 -36 130 c-61 219 -110 492 -139 790 -20 197 -16 815 5 1031 31 311 103 690 161 852 15 43 15 45 -20 140 -160 428 -392 631 -603 525z" />
                    <path d="M1250 4594 c81 -73 203 -280 279 -471 l33 -83 520 0 519 0 -7 23 c-3 12 -27 69 -53 127 -86 194 -212 356 -318 411 l-48 24 -483 3 -483 3 41 -37z" />
                    <path d="M1600 3937 c0 -7 7 -36 15 -63 144 -485 198 -1280 129 -1909 -26 -243 -82 -524 -150 -753 l-6 -22 523 2 524 3 28 95 c39 132 93 405 116 590 34 261 44 482 38 800 -6 308 -20 477 -63 745 -23 143 -90 438 -114 501 l-10 24 -515 0 c-420 0 -515 -2 -515 -13z m772 -157 c75 -28 160 -106 198 -179 57 -115 102 -468 116 -916 13 -420 -43 -1003 -109 -1149 -33 -71 -111 -150 -185 -184 -50 -24 -69 -27 -162 -27 -96 0 -110 3 -165 29 -74 37 -144 108 -182 183 -26 54 -28 67 -28 173 0 63 8 179 18 256 44 362 44 826 0 1188 -10 77 -18 193 -18 256 0 103 3 121 26 170 88 189 296 273 491 200z" />
                    <path d="M2165 3701 c-129 -34 -219 -147 -219 -276 0 -33 7 -125 17 -205 28 -234 37 -399 37 -660 0 -261 -9 -426 -37 -660 -10 -80 -17 -172 -17 -205 0 -108 59 -201 159 -253 67 -35 177 -37 246 -6 54 25 111 80 138 133 35 67 70 309 92 626 28 411 -18 1157 -82 1330 -22 60 -84 126 -145 156 -48 23 -141 33 -189 20z m170 -105 c21 -11 53 -40 69 -64 26 -37 31 -54 34 -115 3 -61 0 -79 -21 -117 -105 -197 -391 -120 -391 105 0 169 163 270 309 191z" />
                    <path d="M4348 3693 l-57 -58 58 -61 c32 -34 88 -106 124 -161 230 -345 307 -769 216 -1190 -54 -250 -171 -481 -345 -679 l-53 -61 55 -54 56 -54 72 76 c188 198 331 492 388 797 32 172 32 470 0 631 -64 317 -199 588 -409 819 l-48 53 -57 -58z" />
                    <path d="M4011 3376 l-54 -55 39 -43 c128 -139 222 -329 265 -533 21 -97 16 -305 -9 -407 -44 -181 -129 -349 -243 -480 l-49 -56 57 -56 58 -57 32 38 c198 227 296 446 324 730 33 322 -86 670 -315 923 -22 25 -43 46 -46 48 -3 1 -30 -22 -59 -52z" />
                    <path d="M3694 3049 l-51 -51 46 -62 c88 -116 131 -245 131 -391 0 -146 -48 -285 -133 -381 l-40 -46 57 -56 57 -57 39 45 c118 137 180 309 180 500 0 151 -36 280 -111 406 -35 57 -105 144 -117 144 -4 0 -30 -23 -58 -51z" />
                    <path d="M3374 2728 l-51 -53 23 -40 c30 -51 32 -118 3 -164 l-20 -34 52 -53 c51 -51 54 -53 72 -36 63 56 92 194 63 293 -15 53 -67 139 -84 139 -4 0 -31 -24 -58 -52z" />
                    <path d="M1540 1028 c-73 -203 -165 -362 -274 -476 l-60 -63 485 3 484 3 52 29 c127 70 250 240 346 479 l35 87 -522 0 -523 0 -23 -62z" />
                </g>
            </svg>
            @ViewBag.TagId
        </h4>

        <div class="row" style="width: 100%">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date" class="required">@R.GetResource("FromDate")</label>
                    <input type="date" id="fromDate" class="form-control" placeholder="dd/MM/yyyy" value="@ViewBag.FromDate">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date" class="required">@R.GetResource("ToDate")</label>
                    <input type="date" id="toDate" class="form-control" placeholder="dd/MM/yyyy" value="@ViewBag.ToDate">
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-md-3">
                <button class="btn btn-primary-custom" type="submit" id="Btnsearch">@R.GetResource("Search")</button>
            </div>
        </div>

        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-theme dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @R.GetResource("CustomizeColumns")
                    </button>
                    <div class="dropdown-menu dropdown-menu-scrollable" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item column-toggle selected-column" data-column="1" href="#">@R.GetResource("Date")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="2" href="#">@R.GetResource("Time")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="3" href="#">@R.GetResource("BuildingName")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="4" href="#">@R.GetResource("FloorName")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="5" href="#">@R.GetResource("RoomName")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="6" href="#"> @R.GetResource("AntennaName")</a>
                        <a class="dropdown-item column-toggle selected-column" data-column="7" href="#">@R.GetResource("Zone")</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table" id="exportTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col"> @R.GetResource("Date") </th>
                    <th scope="col"> @R.GetResource("Time") </th>
                    <th scope="col"> @R.GetResource("BuildingName") </th>
                    <th scope="col"> @R.GetResource("FloorName") </th>
                    <th scope="col"> @R.GetResource("RoomName") </th>
                    <th scope="col"> @R.GetResource("AntennaName") </th>
                    <th scope="col"> @R.GetResource("Zone") </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.tagDate</td>
                        <td>@item.tagTime12</td>
                        <td>@(CurrentLanguage == Languges.English? item.buildingNameEn : item.buildingNameNative)</td>
                        <td>@(CurrentLanguage == Languges.English? item.floorNameEn : item.floorNameNative)</td>
                        <td>@(CurrentLanguage == Languges.English? item.roomNameEn : item.roomNameNative)</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" id="mdi-antenna" width="20" height="20" fill="#3699ff" viewBox="0 0 24 24"><path d="M12 7.5C12.69 7.5 13.27 7.73 13.76 8.2S14.5 9.27 14.5 10C14.5 11.05 14 11.81 13 12.28V21H11V12.28C10 11.81 9.5 11.05 9.5 10C9.5 9.27 9.76 8.67 10.24 8.2S11.31 7.5 12 7.5M16.69 5.3C17.94 6.55 18.61 8.11 18.7 10C18.7 11.8 18.03 13.38 16.69 14.72L15.5 13.5C16.5 12.59 17 11.42 17 10C17 8.67 16.5 7.5 15.5 6.5L16.69 5.3M6.09 4.08C4.5 5.67 3.7 7.64 3.7 10S4.5 14.3 6.09 15.89L4.92 17.11C3 15.08 2 12.7 2 10C2 7.3 3 4.94 4.92 2.91L6.09 4.08M19.08 2.91C21 4.94 22 7.3 22 10C22 12.8 21 15.17 19.08 17.11L17.91 15.89C19.5 14.3 20.3 12.33 20.3 10S19.5 5.67 17.91 4.08L19.08 2.91M7.31 5.3L8.5 6.5C7.5 7.42 7 8.58 7 10C7 11.33 7.5 12.5 8.5 13.5L7.31 14.72C5.97 13.38 5.3 11.8 5.3 10C5.3 8.2 5.97 6.64 7.31 5.3Z" /></svg>
                            @(CurrentLanguage == Languges.English? item.antennaNameEn : item.antennaNameNative)
                        </td>
                        <td>@item.antennaZone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.column-toggle').on('click', function (e) {
            e.preventDefault();
            var column = $(this).data('column');

            $(this).toggleClass('selected-column');

            $('#exportTable').find('tr').each(function () {
                var cell = $(this).find('th:nth-child(' + column + '), td:nth-child(' + column + ')');
                cell.toggle();
            });
        });

        $('#Btnsearch').on('click', function () {
            var fromDate = formatDate($('#fromDate').val());
            var toDate = formatDate($('#toDate').val());

            var url = '@Url.Action("TrakingDetails", "Attendance")?userId=' + '@BaseController.EncryptUrl(ViewBag.UserId)' + "&studentName=" + '@ViewBag.StudentName' + "&tagId=" + '@ViewBag.TagId' + "&fromDate=" + fromDate + "&toDate=" + toDate;
            window.location.href = url;
        });

        function formatDate(date) {
            var d = new Date(date);
            var day = ('0' + d.getDate()).slice(-2);
            var month = ('0' + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return month + '/' + day + '/' + year;
        }
    });
</script>