@model SmartSchool.Models.HomeWork.PrepareHomeWork
@{
    ViewBag.Title = "HomeWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;
    string pull = "";
    string modalpositon = "";
    string buttonpositon = "";
    string textalign = "";
    if (CurrentLanguage == Languges.English)
    {
        pull = "pull-left";
        modalpositon = "left";
        buttonpositon = "left";
        textalign = "left";
    }
    else
    {
        pull = "pull-right";
        textalign = "right";
        modalpositon = "right";
        buttonpositon = "right";

    }
}

<style>
    input[type=checkbox], input[type=radio] {
        float: inherit;
        margin-right: 5px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="head-body-col">
    <span onclick="goBack()">
        <!-- back  icon-->
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    <h2>@R.GetResource("PrepareHomeWork")</h2>
</div>


<div class="inner-Container">
    <div class="light-component action">
        <a href="@Url.Action("AddHomeWork","HomeWork", new {staffID = Model.TeacherID})" style="width:250px">
            <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <h5>
                @R.GetResource("AddHomeWork")
            </h5>
        </a>
    </div>


    <div class="light-component inner">
        @using (Html.BeginForm("PrepareHomeWork", "HomeWork", new { staffID = Model.TeacherID }, FormMethod.Post, new { @class = "search-form", style = "width: 100%;" }))
        {
            @Html.HiddenFor(model => model.TeacherID, new { id = "HiddenStaffID" })
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label>@R.GetResource("Class")</label>
                    @Html.DropDownListFor(m => m.SchoolClassID, Model.SchoolClassesList, @R.GetResource("SelectClass"), new { @class = "form-control  select2", id = "SchoolClassID" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>@R.GetResource("Section")</label>
                    <select name="SectionID" id="SectionID" class="form-control select2" Disabled="Disabled"></select>
                    @Html.HiddenFor(model => model.SectionID, new { id = "HiddenSectionID" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>@R.GetResource("Subject")</label>
                    <select name="SubjectID" id="SubjectID" class="form-control select2" Disabled="Disabled"></select>
                    @Html.HiddenFor(model => model.SubjectID, new { id = "HiddenSubjectID" })
                </div>
            </div>
        </div>

            <button style="margin: 0px 15px 0px 15px; display:none;" class="btn btn-primary-custom form" type="submit" id="Btnsearch">@R.GetResource("Search")</button>
        }


        @if (Model != null)
        {
            <table class="table" id="exportTable" style="width:100%" style="width:100%">
                <thead style="float:inherit;">
                    <tr>
                        <th scope="col" style="display: none"> @R.GetResource("HomeWorkID") </th>
                        <th scope="col"> @R.GetResource("HomeWorkTitle") </th>
                        @if (Model.SectionID == null)
                        {
                            <th scope="col"> @R.GetResource("ClassName") </th>
                            <th scope="col"> @R.GetResource("SectionName") </th>
                        }
                        @if (Model.SubjectID == null)
                        {
                            <th scope="col"> @R.GetResource("SubjectName") </th>
                        }
                        <th scope="col"> @R.GetResource("HomeWorkDeadLine") </th>
                        <th scope="col"> @R.GetResource("HomeWorkNote")</th>
                        <th scope="col"> @R.GetResource("Edit") </th>
                        <th scope="col"> @R.GetResource("Delete") </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HomeWork)
                    {
                        <tr name="table-tr" class="table-tr" id="@item.HomeWorkID">
                            <td style="display: none">@item.HomeWorkID</td>
                            <td>@item.HomeWorkTitle</td>
                            @if (Model.SectionID == null)
                            {
                                <td>@item.SchoolClassName</td>
                                <td>@item.SectionName</td>
                            }
                            @if (Model.SubjectID == null)
                            {
                                <td>@item.SubjectName</td>
                            }
                            <td>@item.HomeWorkDeadLine.ToString("dd-MM-yyyy")</td>
                            <td>@item.HomeWorkNote</td>
                            <td>
                                <a href="@Url.Action("EditHomeWork","HomeWork", new {homeWorkID = item.HomeWorkID, staffID = item.TeacherID})" class="padding"><i class="fa fa-edit fa-s-15"></i></a>
                            </td>
                            <td>
                                <a class="padding" style="cursor: pointer;" onclick="deleteHomeWork(@item.HomeWorkID)"><i class="fa fa-trash fa-s-15"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    debugger

    $(function () {
        debugger;
        var currentLanguage = @Html.Raw(Json.Encode(ViewBag.CurrentLanguage));

        var SchoolClassID = $('#SchoolClassID').val();
        var obj = { schoolClassID: SchoolClassID, staffID: '@Model.TeacherID' };
        AjaxCall('/HomeWork/GetTeacherSections', JSON.stringify(obj), 'POST').done(function (response) {
            if (response.length > 0) {
                $('#SectionID').html('');
                var options = '';
                if (currentLanguage == 1) {
                    options += '<option value="0">Please select</option>';
                }
                else {
                    options += '<option value="0">الرجاء الأختيار</option>';
                }
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                }
                $('#SectionID').append(options);
                $('#SectionID').removeAttr("disabled");
                $('#SubjectID').removeAttr("disabled");
                $('#Btnsearch').removeAttr("disabled");
                $('#SectionID').val("@Model.SectionID");
            }
            else {
                $('#exportTable tbody').find("tr").remove();
                $('#SectionID').empty();
                $('#SectionID').attr("disabled", "disabled");
                $('#SubjectID').attr("disabled", "disabled");
                $('#Btnsearch').attr("disabled", "disabled");
                Swal.fire(
                    'Information',
                    'There is no Sections on this Class',
                    'info'
                );
            }
        }).fail(function (error) {
        });

        AjaxCall('/HomeWork/GetTeacherSubjects', JSON.stringify(obj), 'POST').done(function (response) {
            if (response.length > 0) {
                $('#SubjectID').html('');
                var options = '';
                if (currentLanguage == 1) {
                    options += '<option value="0">Please select</option>';
                }
                else {
                    options += '<option value="0">الرجاء الأختيار</option>';
                }
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                }
                $('#SubjectID').append(options);
                $('#SubjectID').removeAttr("disabled");
                $('#Btnsearch').removeAttr("disabled");
                $('#SubjectID').val("@Model.SubjectID");
            }
            else {
                $('#exportTable tbody').find("tr").remove();
                $('#SubjectID').empty();
                $('#SubjectID').attr("disabled", "disabled");
                $('#Btnsearch').attr("disabled", "disabled");
                Swal.fire(
                    'Information',
                    'There is no Subjects on this Class',
                    'info'
                );
            }
        }).fail(function (error) {
        });

        $('#SectionID').on('change', function () {
            $("#HiddenSectionID").val(this.value);
            $("#HiddenStaffID").val('@Model.TeacherID');
            $("#Btnsearch").click();
            $('#SubjectID').removeAttr("disabled");
        });

        $('#SectionID').on('change', function () {
            $("#HiddenStaffID").val('@Model.TeacherID');
            $("#Btnsearch").click();
        });

        $('#SubjectID').on('change', function () {
            $("#HiddenStaffID").val('@Model.TeacherID');
            $("#HiddenSubjectID").val(this.value);
            $("#Btnsearch").click();
        });

        $('#SchoolClassID').on("change", function () {
            $("#SchoolClassID").val(this.value);
            var SchoolClassID = $('#SchoolClassID').val();
            var StaffID = '@Model.TeacherID';
            var obj = { schoolClassID: SchoolClassID, staffID: StaffID };
            AjaxCall('/HomeWork/GetTeacherSections', JSON.stringify(obj), 'POST').done(function (response) {
                if (response.length > 0) {
                    $('#SectionID').html('');
                    var options = '';
                    if (currentLanguage == 1) {
                        options += '<option value="0">Please select</option>';
                    }
                    else {
                        options += '<option value="0">الرجاء الأختيار</option>';
                    }
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                    }
                    $('#SectionID').append(options);
                    $('#SectionID').removeAttr("disabled");
                    $('#SubjectID').removeAttr("disabled");
                    $('#Btnsearch').removeAttr("disabled");
                }
                else {
                    $('#exportTable tbody').find("tr").remove();
                    $('#SectionID').empty();
                    $('#SectionID').attr("disabled", "disabled");
                    $('#SubjectID').attr("disabled", "disabled");
                    $('#Btnsearch').attr("disabled", "disabled");
                    Swal.fire(
                        'Information',
                        'There is no Sections on this Class',
                        'info'
                    );
                }
            }).fail(function (error) {
            });

             AjaxCall('/HomeWork/GetTeacherSubjects', JSON.stringify(obj), 'POST').done(function (response) {
                 if (response.length > 0) {
                     $('#SubjectID').html('');
                     var options = '';
                     if (currentLanguage == 1) {
                         options += '<option value="0">Please select</option>';
                     }
                     else {
                         options += '<option value="0">الرجاء الأختيار</option>';
                     }
                     for (var i = 0; i < response.length; i++) {
                         options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                     }
                     $('#SubjectID').append(options);
                     $('#SubjectID').removeAttr("disabled");
                     $('#Btnsearch').removeAttr("disabled");
                     $('#SubjectID').val("@Model.SubjectID");
                 }
                 else {
                     $('#exportTable tbody').find("tr").remove();
                     $('#SubjectID').empty();
                     $('#SubjectID').attr("disabled", "disabled");
                     $('#Btnsearch').attr("disabled", "disabled");
                     Swal.fire(
                         'Information',
                         'There is no Subjects on this Class',
                         'info'
                     );
                 }
             }).fail(function (error) {
             });
        });
    });

    function deleteHomeWork(homeworkID) {

        Swal.fire({
            title: '@R.GetResource("Areyousure")?',
            text: '@R.GetResource("Oncedeleted")!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@R.GetResource("OK")',
            cancelButtonText: '@R.GetResource("Cancel")',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "DeleteHomeWork?homeworkID=" + homeworkID,
                    success: function (response) {
                        if (response.Success) {
                            $.toast({
                                text: 'تمت عملية الحذف بنجاح',
                                position: 'top-center',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 1000,
                                stack: 6
                            });
                            $("#" + homeworkID).remove();
                        } else {
                            Swal.fire(
                                '@R.GetResource("Error")',
                                response.Message,
                                'error'
                            );
                        }
                    }
                });
            }
        });
    }


    function AjaxCall(url, data, type) {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            contentType: 'application/json'
        });
    }

</script>
