@model SmartSchool.Models.Settings.Exam
@{
    ViewBag.Title = "Edit Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;
    string pull = "";
    string modalpositon = "";
    string buttonpositon = "";
    string textalign = "";
    if (CurrentLanguage == Languges.English)
    {
        pull = "pull-left";
        modalpositon = "left";
        buttonpositon = "right";
        textalign = "left";
    }
    else
    {
        pull = "pull-right";
        textalign = "right";
        modalpositon = "right";
        buttonpositon = "right";

    }
}

<style>
    input[type=checkbox], input[type=radio] {
        float: inherit;
        margin: 10px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="head-body-col">
    <span>
        <!-- back  icon-->
        <a onclick="goBack()" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </span>
    <h2>@R.GetResource("EditExam")</h2>
</div>

<div class="inner-Container">
    <div class="light-component inner">
        <div class="inner-body-holder-forms">
            <div class="col-md-12">
                <form id="EditExam" enctype="multipart/form-data" class="padding">
                    @Html.HiddenFor(model => model.ID, new { id = "HiddenID" })
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("Semester")</label>
                                <div class="form-control-wrapper">
                                    @Html.DropDownListFor(m => m.SemesterID, Model.SemestersList, @R.GetResource("SelectSemester"), new { @class = "form-control  select2", id = "SemesterID", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("Classes")</label>
                                <div class="form-control-wrapper">
                                    @Html.DropDownListFor(m => m.SchoolClassID, Model.SchoolClassesList, @R.GetResource("SelectClass"), new { @class = "form-control  select2", id = "SchoolClassID", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("Subject")</label>
                                <select name="SubjectID" id="SubjectID" class="form-control select2" Disabled="Disabled"></select>
                                @Html.HiddenFor(model => model.SubjectID, new { id = "HiddenSubjectID" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("ExamType")</label>
                                <div class="form-control-wrapper">
                                    @Html.DropDownListFor(m => m.ExamTypeID, Model.ExamTypesList, @R.GetResource("SelectExamType"), new { @class = "form-control  select2", id = "ExamTypeID", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("Title")</label>
                                <div class="form-control-wrapper">
                                    @{
                                        if (Model.TeacherID == "-1")
                                        {
                                            @Html.DropDownListFor(m => m.ExamTitleID, Model.ExamTitelsList, @R.GetResource("SelectExamTitle"), new { @class = "form-control select2", id = "ExamTitleID", required = "required" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.ExamTitleID, Model.ExamTitelsList, @R.GetResource("SelectExamTitle"), new { @class = "form-control select2", id = "ExamTitleID", required = "required", Disabled = "Disabled" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("TotalGrades")</label>
                                <div class="form-control-wrapper">
                                    @Html.TextBoxFor(m => m.TotalGrades, new { @class = "form-control", id = "TotalGrades", required = "required", type = "number" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@R.GetResource("IsCounted")</label>
                                <div class="form-control-wrapper">
                                    @Html.CheckBoxFor(model => model.IsCounted, new { id = "IsCounted", style = "cursor:pointer; transform:scale(2.3); margin-left:10px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btnsavedit btn btn-primary-custom" id="btnEdit" style="padding:10px 20px;" type="button">@R.GetResource("Edit")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function () {
        debugger;
        var currentLanguage = @Html.Raw(Json.Encode(ViewBag.CurrentLanguage));

        var SchoolClassID = $('#SchoolClassID').val();
        var obj = { schoolClassID: SchoolClassID };

        AjaxCall('/Settings/GetSubjects', JSON.stringify(obj), 'POST').done(function (response) {
            if (response.length > 0) {
                $('#SubjectID').html('');
                var options = '';
                if (currentLanguage == 1) {
                    options += '<option value="0">Please select</option>';
                }
                else {
                    options += '<option value="0">الرجاء الأختيار</option>';
                }
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                }
                $('#SubjectID').append(options);
                $('#SubjectID').removeAttr("disabled");
                $('#SubjectID').val('@Model.SubjectID');
            }
            else {
                $('#SubjectID').empty();
                $('#SubjectID').attr("disabled", "disabled");
                Swal.fire(
                    'Information',
                    'There is no Subjects on this Class',
                    'info'
                );
            }
        }).fail(function (error) {
        });

        $('#SubjectID').on('change', function () {
            $("#HiddenSubjectID").val(this.value);
            $("#Btnsearch").click();
        });

        $('#SemesterID').on('change', function () {
            $("#SemesterID").val(this.value);
            $("#Btnsearch").click();
        });

        $('#ExamTypeID').on('change', function () {
            $("#ExamTypeID").val(this.value);
            $("#Btnsearch").click();
        });

        $('#ExamTitleID').on('change', function () {
            $("#ExamTitleID").val(this.value);
        });

        $('#SchoolClassID').on("change", function () {
            $("#SchoolClassID").val(this.value);
            var SchoolClassID = $('#SchoolClassID').val();
            var obj = { schoolClassID: SchoolClassID };
            AjaxCall('/Settings/GetSubjects', JSON.stringify(obj), 'POST').done(function (response) {
                if (response.length > 0) {
                    $('#SubjectID').html('');
                    var options = '';
                    if (currentLanguage == 1) {
                        options += '<option value="0">Please select</option>';
                    }
                    else {
                        options += '<option value="0">الرجاء الأختيار</option>';
                    }
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                    }
                    $('#SubjectID').append(options);
                    $('#SubjectID').removeAttr("disabled");
                }
                else {
                    $('#SubjectID').empty();
                    $('#SubjectID').attr("disabled", "disabled");
                    Swal.fire(
                        'Information',
                        'There is no Subjects on this Class',
                        'info'
                    );
                }
            }).fail(function (error) {
            });
        });
        
        $("#btnEdit").on("click", function () {
            debugger;
            var isValid = true;
            if ($("#SchoolClassID").val() == "") { isValid = false; }
            if ($("#HiddenSubjectID").val() == "") { isValid = false; }
            if ($("#SemesterID").val() == "") { isValid = false; }
            if ($("#ExamTypeID").val() == "") { isValid = false; }
            if ($("#ExamTitleID").val() == "") { isValid = false; }

            debugger;
            if (isValid) {
                var formData = new FormData();
                var ID = $("#HiddenID").val();
                var SchoolClassID = $("#SchoolClassID").val();
                var SubjectID = $("#SubjectID").val();
                var SemesterID = $("#SemesterID").val();
                var ExamTypeID = $("#ExamTypeID").val();
                var ExamTitleID = $("#ExamTitleID").val();
                var TotalGrades = $("#TotalGrades").val();
                var IsCounted = $("#IsCounted:checked").val() ? true : false;

                formData.append('ID', ID);
                formData.append('SchoolClassID', SchoolClassID);
                formData.append('SubjectID', SubjectID);
                formData.append('SemesterID', SemesterID);
                formData.append('ExamTypeID', ExamTypeID);
                formData.append('ExamTitleID', ExamTitleID);
                formData.append('TotalGrades', TotalGrades);
                formData.append('IsCounted', IsCounted);

                $.ajax({
                    type: "POST",
                    url: "EditExam",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        if (response.Success) {
                            $("#btnsave").attr("disabled", "disabled");
                            Swal.fire({
                                text: 'تمت عملية الحفظ بنجاح',
                                position: 'top-center',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                showConfirmButton: false,
                                allowOutsideClick: false,
                                hideAfter: 1000,
                                stack: 6
                            });
                            window.setTimeout(function () {
                                // Move to a new location or you can do something else
                                window.location.href = '@Url.Action("PrepareExams", "Settings")';
                            }, 1000);

                        } else {
                            Swal.fire(
                                'Error',
                                response.Message,
                                'error'
                            );
                        }
                    }
                });
            }
            else {
                Swal.fire(
                    'Information',
                    'Please Fill the required Data',
                    'info'
                );
            }
        });
    });

    function AjaxCall(url, data, type) {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            contentType: 'application/json'
        });
    }
</script>