@model SmartSchool.Models.Settings.Departments
@{
    ViewBag.Title = "Add Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;
    string pull = "";
    string modalpositon = "";
    string buttonpositon = "";
    string textalign = "";
    if (CurrentLanguage == Languges.English)
    {
        pull = "pull-left";
        modalpositon = "left";
        buttonpositon = "right";
        textalign = "left";
    }
    else
    {
        pull = "pull-right";
        textalign = "right";
        modalpositon = "right";
        buttonpositon = "left";

    }
}

<style>
    input[type=checkbox], input[type=radio] {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -5px;
        line-height: normal;
        float: inherit;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="head-body-col">
    <span>
        <!-- back  icon-->
        <a onclick="goBack()" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </span>
    <h2>@R.GetResource("EditDepartment")</h2>
</div>

<div class="inner-Container">
    <div class="light-component inner">
        <div class="inner-body-holder-forms">
            <div class="col-md-12">
                <form id="EditSpcCurriculum" enctype="multipart/form-data" class="padding">
                    @Html.HiddenFor(model => model.DepartmentID, new { Name = "DepartmentID" })

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@R.GetResource("DepartmentArabicName")</label>
                                <div class="form-control-wrapper">
                                    @Html.TextBoxFor(model => model.DepartmentArabicName, new { @class = "form-control", Name = "DepartmentArabicName", required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@R.GetResource("DepartmentEnglishName")</label>
                                <div class="form-control-wrapper">
                                    @Html.TextBoxFor(model => model.DepartmentEnglishName, new { @class = "form-control", Name = "DepartmentEnglishName", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>@R.GetResource("DepartmentType")</label>
                                @if (Model.DepartmentType == "False")
                                {
                                    <div class="form-control-wrapper">
                                        <label for="Administration">@R.GetResource("Administrative")</label>
                                        <input type="radio" name="DepartmentType" id="Administration" value="Administration" checked disabled>
                                    </div>
                                    <div class="form-control-wrapper">
                                        <label for="Academic">@R.GetResource("Academic")</label>
                                        <input type="radio" name="DepartmentType" id="Academic" value="Academic" disabled>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-control-wrapper">
                                        <label for="Administration">@R.GetResource("Administrative")</label>
                                        <input type="radio" name="DepartmentType" id="Administration" value="Administration" disabled>
                                    </div>
                                    <div class="form-control-wrapper">
                                        <label for="Academic">@R.GetResource("Academic")</label>
                                        <input type="radio" name="DepartmentType" id="Academic" value="Academic" checked disabled>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btnsave btn btn-primary-custom" style="padding:10px 20px;" type="button">@R.GetResource("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isValid = true;

        if ($('input[Name="DepartmentArabicName"]').length <= 0) {
            isValid = false;
        }

        if ($('input[Name="DepartmentEnglishName"]').length <= 0) {
            isValid = false;
        }

        $(".btnsave").on("click", function () {
            debugger;

            if (isValid) {
                var formData = new FormData();
                var DepartmentID = $("#DepartmentID").val();
                var DepartmentArabicName = $("#DepartmentArabicName").val();
                var DepartmentEnglishName = $("#DepartmentEnglishName").val();
                var DepartmentType = $('input[name="DepartmentType"]:checked').val();

                formData.append('DepartmentID', DepartmentID);
                formData.append('DepartmentArabicName', DepartmentArabicName);
                formData.append('DepartmentEnglishName', DepartmentEnglishName);
                formData.append('DepartmentType', DepartmentType);

                $.ajax({
                    type: "POST",
                    url: "SaveEditDepartment",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Success) {
                            $(".btnsave").attr("disabled", "disabled")
                            $.toast({
                                text: 'تمت عملية الحفظ بنجاح',
                                position: 'top-center',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 1000,
                                stack: 6
                            });
                            window.setTimeout(function () {
                                // Move to a new location or you can do something else
                                window.location.href = '@Url.Action("GetAllDepartments", "Settings")';

                            }, 1000);
                        } else {
                            alert("Something went wrong\n" + response.Message);
                        }
                    }
                });
            }
        });
    });
</script>