@model List<SmartSchool.Models.Settings.Semester>
@{
    ViewBag.Title = "Semesters";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;
    string pull = "";
    string modalpositon = "";
    string buttonpositon = "";
    string textalign = "";
    if (CurrentLanguage == Languges.English)
    {
        pull = "pull-left";
        modalpositon = "left";
        buttonpositon = "right";
        textalign = "left";
    }
    else
    {
        pull = "pull-right";
        textalign = "right";
        modalpositon = "right";
        buttonpositon = "left";

    }
}


<div class="head-body-col">
    <span>
        <!-- back  icon-->
        <a onclick="goBack()" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </span>
    <h2>@R.GetResource("Semesters")</h2>
</div>

<div class="inner-Container">
    <a href="javascript:void(0)" onclick="InsertSemester()" class="light-component widget">
        <div class="icon-widget">
            <div class="iw-holder">

            </div>
            <div class="icon-h">
                <span style="font-size:20px;"><i class="fa fa-plus" aria-hidden="true"></i></span>

            </div>
            <div style="width: 80%;padding: 0px 5px;">
                <h3>
                    @R.GetResource("AddNewSemester")
                </h3>

            </div>

        </div>
    </a>

    <div class="light-component inner">
        <table class="table" id="exportTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col" style="display: none;">@R.GetResource("ID")</th>
                    <th scope="col">@R.GetResource("SemesterName")</th>
                    <th scope="col"> @R.GetResource("Delete") </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td style="display: none;">@item.ID</td>
                        <td>@item.SemesterName</td>
                        <td>
                            <a class="padding" style="cursor: pointer;" onclick="deleteSemester(@item.ID)"><i class="fa fa-trash fa-s-15"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    debugger

    $(function () {
        debugger;
        var currentLanguage = @Html.Raw(Json.Encode(ViewBag.CurrentLanguage));
    });

    function InsertSemester() {
        $.ajax({
            type: "POST",
            url: "InsertSemester"
        })
        .done(function (response) {
            if (response.Success) {
                Swal.fire(
                    '@R.GetResource("Successful")',
                    '@R.GetResource("SemesterAdded")',
                    'success'
                ).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            }
            else {
                Swal.fire(
                    'Information',
                    response.Message,
                    'info'
                );
            }
        })
        .fail(function (error) {
            Swal.fire(
                'Error',
                'There was an error: ' + error,
                'error'
            );
        });
    }

    function deleteSemester(ID) {
        Swal.fire({
            title: '@R.GetResource("Areyousure")?',
            text: '@R.GetResource("Oncedeleted")!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@R.GetResource("OK")',
            cancelButtonText: '@R.GetResource("Cancel")',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "DeleteSemester?ID=" + ID,
                    success: function (response) {
                        if (response.Success) {
                            $.toast({
                                text: 'تمت عملية الحذف بنجاح',
                                position: 'top-center',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 1000,
                                stack: 6
                            });
                            $("#" + ID).remove();
                        } else {
                            Swal.fire(
                                '@R.GetResource("Error")',
                                response.Message,
                                'error'
                            );
                        }
                    }
                });
            }
        });
    }

</script>
