@model List<SmartSchool.Models.Settings.Curriculums>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;

}


<div class="head-body-col">
    <span>
        <!-- back  icon-->
        <a onclick="goBack()" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </span>
    <h2>@R.GetResource("Curriculums")</h2>
</div>

<div class="inner-Container">
    <div class="light-component action">
        <a href="@Url.Action("AddNewCurriculum","Settings")" style="width:200px">
            <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <h5>
                @R.GetResource("AddNewCurriculum")
            </h5>
        </a>
    </div>

    <div class="light-component inner">
        <table class="table" id="exportTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col"> @R.GetResource("CurriculumArabicName") </th>
                    <th scope="col"> @R.GetResource("CurriculumEnglishName") </th>
                    <th scope="col"> @R.GetResource("DepartmentArabicName") </th>
                    <th scope="col"> @R.GetResource("DepartmentEnglishName") </th>
                    <th scope="col"> @R.GetResource("Edit") </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CurriculumArabicName</td>
                        <td>@item.CurriculumEnglishName</td>
                        <td>@item.DepartmentArabicName</td>
                        <td>@item.DepartmentEnglishName</td>
                        <td style="display:flex">
                            <a href="@Url.Action("EditCurriculum","Settings", new { CurriculumID=item.CurriculumID })" class="padding"><i class="fa fa-edit fa-s-15"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>