@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Languges CurrentLanguage = ViewBag.CurrentLanguage;

}



<div class="head-body-col">
    <span>
        <!-- back  icon-->
        <a onclick="goBack()" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </span>
    <h2>@R.GetResource("Headquarters")</h2>
</div>
<div class="Dashboard-widget">
   
    <a href="@Url.Action("RegisterHeadQuarter","Settings")" class="light-component widget">

        <div class="overlay-head">
            <h3>@R.GetResource("Registeranewheadquarter")</h3>
        </div>

        <img src="~/AppContent/WidgetImages/Registration.png" />
    </a>
    <a href="@Url.Action("GetAllHeadQuarters","Settings")" class="light-component widget">

        <div class="overlay-head">
            <h3>@R.GetResource("Headquarters")</h3>
        </div>

        <img src="~/AppContent/WidgetImages/HeadQ.jpg"/>
    </a>

</div>

